<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
<<<<<<< HEAD
    <h2> <%= link_to restaurant.name, restaurant %> </h2>

    <% if restaurant.user == current_user %>
      <h3> <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %> </h3>
      <h3> <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %> </h3>
      <% end %>
      <h3> <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %> </h3>

        <h3> Reviews for <%= restaurant.name %> </h3>
          <% if restaurant.reviews.any? %>
            <ul>
              <%restaurant.reviews.each do |f| %>
              <li> <%= f.thoughts %>, <strong><%= f.rating %></strong>/5 </li>
              <% end %>
            </ul>
          <% else %>
            <p>
              No reviews yet
            </p>
          <% end %>
  <%end%>
<% else %>
No restaurants yet
<% end %>

<a href='/restaurants/new'>Add a restaurant</a>
=======
    <h2>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </h2>

    <% if restaurant.reviews.any? %>
      <ul>
      <% restaurant.reviews.each do |review| %>
        <li>
          <%= review.thoughts %>
          <%= review.rating %>/5
          <% if review.user == current_user %>
            <%= link_to "Delete Review", restaurant_review_path(restaurant, review), method: :delete %>
          <% end %>
        </li>
      </ul>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>

    <% if restaurant.user == current_user %>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
      <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <% elsif current_user && !(current_user.has_reviewed?(restaurant))%>
      <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
    <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="<%= new_restaurant_path %>">Add a restaurant</a>
>>>>>>> b7fbbf4dfee6277dab38934bcedbf9cf3f3fbe9a
